*{
    padding: 0;
    margin: 0 auto;
    color: rgb(199, 199, 199);    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;        
    font-weight: normal;
}
body{
    min-width: 300px;
    background-color: rgb(32, 34, 39);
}
.color_accent{ color: #f3c441; } 
.color_primary{ color: #8cdc75; } 
.color_secondary{ color: #969696; } 
.color_success{ color: #32d13a; }
.color_error{ color: #b33a3a; }
.color_info{ color: #609cea; }
.background_accent{ background-color: #f3c441; color: rgb(39, 39, 39); }
.background_error{ background-color: #b33a3a; color: rgba(255, 255, 255, 0.815); }
.background_success{ background-color: #32d13a; color: rgb(39, 39, 39); }
.text_big{font-size: 18pt;}.text_medium{font-size: 16pt;}.text_small{font-size: 12pt;}
